body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table {
    border: 1px solid green;
    border-collapse:collapse;
    font-size: 30px;
    border-width: bold;
}

th, td {
    border: 1px solid green;
}
