/*.image {
    width: 300px;
    border: 3px, solid, red;
    box-sizing: border-box;
    padding: 10px 5px 10px 5px;
    margin-right: 60px;
}*/
div {
    display: inline;
}
span {
    display: block;
}
img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 1px 0px;
}